@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;900&display=swap");
/* root */
:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navblack: black;
  --navocean: #404bbf;
  --navslate: #434455;
  --navwhite: white;
  --navcloud: #f4f4fd;
  --navcornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--navslate);
  background-color: var(--navwhite);
}

html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--navcornflower);
}

.logo-link.footer {
  margin-bottom: 20px;
}

.logo-link {
  text-decoration: none;
  font-size: 0;
}

.logo-link > span {
  font-size: 18px;
}
.logo,
.studio {
  color: var(--iriscolor);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  display: inline-block;
}

.studio {
  color: var(--navyblue);
}

.page-footer.bg-footer .studio-footer {
  color: var(--navcloud);
}

.footer-description {
  color: var(--navcloud);
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  padding-top: 17px;
}
.nav-menu .page,
.contacts-menu .contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  color: var(--navyblue);
  font-size: 16px;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

.hero-title {
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--navwhite);
  margin-bottom: 30px;
}

.bg-team {
  background-color: var(--navcloud);
}

.contacts-menu .contact {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 400;
  color: var(--navslate);
  letter-spacing: 0.02em;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
}

.button.primary {
  background-color: var(--iriscolor);
  color: var(--navwhite);
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--navocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  margin-bottom: 10px;
  line-height: 1.14;
}

.section {
  padding: 120px 0;
}

.section.no-top-padding {
  padding-top: 0;
}

.benefits .description {
  color: var(--navslate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: var(--navwhite);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--navyblue);
  font-weight: 400;
  font-size: 16px;
}

.substrate {
  background-color: var(--navwhite);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.page-footer.bg-footer {
  background-color: var(--navyblue);
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .space + .space {
  margin-left: 8px;
}

.button.filter {
  background-color: var(--navcloud);
  color: var(--iriscolor);
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--navocean);
  color: var(--navcloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project .type {
  color: var(--navslate);
  font-weight: 400px;
  line-height: 1.87;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
