@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;900&display=swap");
/* root */
:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navblack: black;
  --navocean: #404bbf;
  --navslate: #434455;
  --navwhite: white;
  --navcloud: #f4f4fd;
  --navcornflower: #e7e9fc;
  --navwhite: white;
  --navcloud: #f4f4fd;
  --navcornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--navslate);
}

.logo-link {
  text-decoration: none;
  font-size: 0;
  font-weight: 800;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
}

.logo-link > span {
  font-size: 18px;
}
.logo {
  color: var(--iriscolor);
}

.studio {
  color: var(--navyblue);
}

.page-footer.bg-footer .studio-footer {
  color: var(--navcloud);
}

.footer-descrition {
  color: var(--navcloud);
}
.nav-menu .page {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  color: var(--navyblue);
  letter-spacing: 0.02em;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 75px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

.hero-title {
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--navwhite);
}

.bg-team {
  background-color: var(--navcloud);
}

.contacts-menu .contact {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 400;
  color: var(--navslate);
  letter-spacing: 0.02em;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero {
  text-align: center;
  font-size: 45px;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 1.12px;
  color: var(--navwhite);
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  font-family: interit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
}

.button.primary {
  background-color: var(--iriscolor);
  color: var(--navwhite);
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--navocean);
}

.description.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.benefits {
  color: var(--navyblue);
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

.benefits .description {
  color: var(--navslate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.team .position {
  color: var(--navyblue);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.page-footer.bg-footer {
  background-color: var(--navyblue);
}
.page-footer {
  color: var(--navwhite);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button {
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button.filter {
  background-color: var(--navcloud);
  color: var(--iriscolor);
  font-weight: 500;
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--navocean);
  color: var(--navcloud);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  color: var(--navslate);
  font-weight: 400;
  line-height: 1.87;
}

.project {
  text-decoration: none;
  color: var(--navyblue);
}

.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-header .container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--navcornflower);
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.studio-container {
  display: flex;
  align-items: center;
  margin-left: 130px;
  gap: 30px;
}

.contact-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.what-container {
  display: flex;
  align-items: center;
  gap: 75px;
}

.team-container {
  display: flex;
  align-items: center;
  gap: 75px;
}

.container {
  margin-left: 130px;
}


.projects .substrate{
  display: flex;
  gap: 25px;
}

.item {
  border-bottom: 0px solid var(--navcornflower);
  background: var(--navwhite);
}

.project-card {
  border: 1px solid var(--navcornflower);
  padding: 0px;
}
